<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>

<div class="dashboard">

    <!-- ===== LEFT PANEL ===== -->
    <div class="left-panel">

        <h2>Admin Panel</h2>
        <hr>
        <a href="/admin/students" class="menu-item">👨‍🎓 Students List</a>
        <hr>
         <a href="/admin/companies" class="menu-item">🏢 Companies</a>
        <hr>
        <a href="/admin/applications" class="menu-item">📋 Applications</a>
        <hr>
        <a href="/admin/add_company" class="menu-item">➕ Add Company</a>
        <hr>
        <a href="/admin/notices" class="menu-item">📢 Manage Notices</a>
        <hr>
        <a href="/admin/exams" class="menu-item">📝 Manage Exams</a>
        <hr>
        <a href="/admin/resumes" class="menu-item">📄 Resumes</a>
        <hr>
        <div class="logout-box">
            <a href="/logout" class="logout-btn">Logout</a>
        </div>
        
    </div>


    <!-- ===== RIGHT PANEL ===== -->
    <div class="right-panel">

        <div class="topbar">
            <h2 class="welcome-text">Welcome Admin 👨‍💼</h2>
        </div>

        <!-- STATS -->
        <div class="admin-stats">

            <div class="stat-box">
                <h3>{{ total_students }}</h3>
                <p>Students</p>
            </div>

            <div class="stat-box">
                <h3>{{ total_companies }}</h3>
                <p>Companies</p>
            </div>

            <div class="stat-box">
                <h3>{{ total_applications }}</h3>
                <p>Applications</p>
            </div>

        </div>

    </div>

</div>

</body>
</html>